fastapi
pydantic
pydantic_settings
pandas
yfinance
prophet
transformers
langchain-google-genai
python-dotenv
uvicorn
torch
#matplotlib
#streamlit
#chainlit
#langchain
#requests
#cmdstanpy
#langchain_community
#gunicorn
