streamlit
fastapi
pydantic
pandas
yfinance
matplotlib
prophet
transformers
langchain-google-genai
python-dotenv
uvicorn
#chainlit
#langchain
#requests
#cmdstanpy
#langchain_community
#torch
#gunicorn
